AffectiveGame/bin/Windows/Debug/AffectiveGame.exe
AffectiveGame/bin/Windows/Debug/AffectiveGame.pdb
AffectiveGame/bin/Windows/Debug/IgnoreMe.dll
AffectiveGame/bin/Windows/Debug/Lidgren.Network.dll
AffectiveGame/bin/Windows/Debug/MonoGame.Framework.dll
AffectiveGame/bin/Windows/Debug/SharpDX.DXGI.dll
AffectiveGame/bin/Windows/Debug/SharpDX.DXGI.xml
AffectiveGame/bin/Windows/Debug/SharpDX.Direct2D1.dll
AffectiveGame/bin/Windows/Debug/SharpDX.Direct2D1.xml
AffectiveGame/bin/Windows/Debug/SharpDX.Direct3D11.dll
AffectiveGame/bin/Windows/Debug/SharpDX.Direct3D11.xml
AffectiveGame/bin/Windows/Debug/SharpDX.Direct3D9.dll
AffectiveGame/bin/Windows/Debug/SharpDX.Direct3D9.xml
AffectiveGame/bin/Windows/Debug/SharpDX.MediaFoundation.dll
AffectiveGame/bin/Windows/Debug/SharpDX.MediaFoundation.xml
AffectiveGame/bin/Windows/Debug/SharpDX.RawInput.dll
AffectiveGame/bin/Windows/Debug/SharpDX.RawInput.xml
AffectiveGame/bin/Windows/Debug/SharpDX.XAudio2.dll
AffectiveGame/bin/Windows/Debug/SharpDX.XAudio2.xml
AffectiveGame/bin/Windows/Debug/SharpDX.XInput.dll
AffectiveGame/bin/Windows/Debug/SharpDX.XInput.xml
AffectiveGame/bin/Windows/Debug/SharpDX.dll
AffectiveGame/bin/Windows/Debug/SharpDX.xml
AffectiveGame/obj/x86/Debug/AffectiveGame.exe
AffectiveGame/obj/x86/Debug/AffectiveGame.pdb
